In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('Gro_handelspreise_201910010000_201912312359_1.csv')
print(df)

           Datum Uhrzeit Deutschland/Luxemburg[Euro/MWh] Dänemark 1[Euro/MWh]  \
0     01.10.2019   00:00                           33.09                32.08
1     01.10.2019   01:00                           31.58                31.26
2     01.10.2019   02:00                           30.04                30.04
3     01.10.2019   03:00                            30.2                 30.2
4     01.10.2019   04:00                           30.13                30.13
...          ...     ...                             ...                  ...
1316  24.11.2019   19:00                               -                    -
1317  24.11.2019   20:00                               -                    -
1318  24.11.2019   21:00                               -                    -
1319  24.11.2019   22:00                               -                    -
1320  24.11.2019   23:00                               -                    -

     Dänemark 2[Euro/MWh] Frankreich[Euro/MWh] Italien (Nord)[Euro/MWh]  \
0                   32.08                33.09                        -
1                   31.26                27.72                        -
2                   30.04                23.12                        -
3                    30.2                16.46                        -
4                   30.13                15.66                        -
...                   ...                  ...                      ...
1316                    -                    -                        -
1317                    -                    -                        -
1318                    -                    -                        -
1319                    -                    -                        -
1320                    -                    -                        -

     Niederlande[Euro/MWh] Polen[Euro/MWh] Schweden 4[Euro/MWh]  \
0                    33.09               -                32.08
1                    30.26               -                31.26
2                    27.66               -                30.04
3                     30.2               -                 30.2
4                     25.8               -                30.13
...                    ...             ...                  ...
1316                     -               -                    -
1317                     -               -                    -
1318                     -               -                    -
1319                     -               -                    -
1320                     -               -                    -

     Schweiz[Euro/MWh] Slowenien[Euro/MWh] Tschechien[Euro/MWh]  \
0                34.42               44.48                32.13
1                32.89               45.56                31.01
2                31.71               43.44                29.85
3                31.29               43.11                29.53
4                32.43                43.5                30.75
...                ...                 ...                  ...
1316                 -                   -                    -
1317                 -                   -                    -
1318                 -                   -                    -
1319                 -                   -                    -
1320                 -                   -                    -

     Ungarn[Euro/MWh] Österreich[Euro/MWh]  \
0               57.45                33.09
1                  52                31.83
2               48.12                 30.5
3               48.87                 30.2
4               52.99                30.57
...               ...                  ...
1316                -                    -
1317                -                    -
1318                -                    -
1319                -                    -
1320                -                    -

     Deutschland/Österreich/Luxemburg[Euro/MWh]
0                                             -
1                                             -
2                                             -
3                                             -
4                                             -
...                                         ...
1316                                          -
1317                                          -
1318                                          -
1319                                          -
1320                                          -

[1321 rows x 16 columns]

In [7]:
df.head()

,Datum,Uhrzeit,Deutschland/Luxemburg[Euro/MWh],Dänemark 1[Euro/MWh],Dänemark 2[Euro/MWh],Frankreich[Euro/MWh],Italien (Nord)[Euro/MWh],Niederlande[Euro/MWh],Polen[Euro/MWh],Schweden 4[Euro/MWh],Schweiz[Euro/MWh],Slowenien[Euro/MWh],Tschechien[Euro/MWh],Ungarn[Euro/MWh],Österreich[Euro/MWh],Deutschland/Österreich/Luxemburg[Euro/MWh]
0,01.10.2019,00:00,33.09,32.08,32.08,33.09,-,33.09,-,32.08,34.42,44.48,32.13,57.45,33.09,-
1,01.10.2019,01:00,31.58,31.26,31.26,27.72,-,30.26,-,31.26,32.89,45.56,31.01,52,31.83,-
2,01.10.2019,02:00,30.04,30.04,30.04,23.12,-,27.66,-,30.04,31.71,43.44,29.85,48.12,30.5,-
3,01.10.2019,03:00,30.2,30.2,30.2,16.46,-,30.2,-,30.2,31.29,43.11,29.53,48.87,30.2,-
4,01.10.2019,04:00,30.13,30.13,30.13,15.66,-,25.8,-,30.13,32.43,43.5,30.75,52.99,30.57,-

In [8]:
%matplotlib inline

import matplotlib.pyplot as plt
import seaborn as sb

In [12]:
sb.pairplot(df())

TypeError: 'DataFrame' object is not callable

In [14]:
df.head()

,Datum,Uhrzeit,Deutschland/Luxemburg[Euro/MWh],Dänemark 1[Euro/MWh],Dänemark 2[Euro/MWh],Frankreich[Euro/MWh],Italien (Nord)[Euro/MWh],Niederlande[Euro/MWh],Polen[Euro/MWh],Schweden 4[Euro/MWh],Schweiz[Euro/MWh],Slowenien[Euro/MWh],Tschechien[Euro/MWh],Ungarn[Euro/MWh],Österreich[Euro/MWh],Deutschland/Österreich/Luxemburg[Euro/MWh]
0,01.10.2019,00:00,33.09,32.08,32.08,33.09,-,33.09,-,32.08,34.42,44.48,32.13,57.45,33.09,-
1,01.10.2019,01:00,31.58,31.26,31.26,27.72,-,30.26,-,31.26,32.89,45.56,31.01,52,31.83,-
2,01.10.2019,02:00,30.04,30.04,30.04,23.12,-,27.66,-,30.04,31.71,43.44,29.85,48.12,30.5,-
3,01.10.2019,03:00,30.2,30.2,30.2,16.46,-,30.2,-,30.2,31.29,43.11,29.53,48.87,30.2,-
4,01.10.2019,04:00,30.13,30.13,30.13,15.66,-,25.8,-,30.13,32.43,43.5,30.75,52.99,30.57,-

In [19]:
df.describe()

,Datum,Uhrzeit,Deutschland/Luxemburg[Euro/MWh],Dänemark 1[Euro/MWh],Dänemark 2[Euro/MWh],Frankreich[Euro/MWh],Italien (Nord)[Euro/MWh],Niederlande[Euro/MWh],Polen[Euro/MWh],Schweden 4[Euro/MWh],Schweiz[Euro/MWh],Slowenien[Euro/MWh],Tschechien[Euro/MWh],Ungarn[Euro/MWh],Österreich[Euro/MWh],Deutschland/Österreich/Luxemburg[Euro/MWh]
count,1321,1321,1321,1321,1321,1321,1321,1321,1321,1321,1321,1321,1321,1321,1321,1321
unique,55,24,1016,1015,985,1044,1,983,25,972,1008,885,928,1062,1010,1
top,27.10.2019,02:00,-,-,-,-,-,-,-,-,-,-,-,-,-,-
freq,25,56,72,96,72,72,1321,72,1297,72,120,72,96,72,72,1321

In [20]:
sb.pairplot(df.dropna(), hue='class')

IndexError: index -1 is out of bounds for axis 0 with size 0